{
  "parser": "babel-eslint",
  "extends": [
    "plugin:jest/recommended",
    "airbnb",
    "prettier"
  ],
  "plugins": [
    "jest",
    "prettier"
  ],
  "rules": {
    "prettier/prettier": "error",
    "react/prefer-stateless-function": "off",
    "react/jsx-filename-extension": "off",
    "max-len": "off",
    "react/jsx-wrap-multilines": "off",
    "react/require-default-props": "off",
    "linebreak-style": "off",
    "import/prefer-default-export": "off",
    "consistent-return": "off",
    // https://github.com/yannickcr/eslint-plugin-react/issues/1187
    "react/jsx-indent-props": "off",
    / https://github.com/yannickcr/eslint-plugin-react/issues/1187
    "react/jsx-closing-bracket-location": "off"
  },
  "env": {
    "browser": true,
    "node": true,
    "jest/globals": true
  }
}
