[database]
adapter = Mysql
host = "localhost"
port = 3307
username = "root"
password = "spreadshare"
dbname = "spreadshare"

[application]
controllersDir = "app/controllers/"
modelsDir = "app/models/Abstracts/"
viewsDir = "app/views/"
baseUri = "/"

[migration]
migrations = "app/migrations"
