<?php
/**
 * Spreadshare
 *
 * @copyright 2016 | DS
 *
 * @version   $Version$
 * @package   DS\Config
 */
return [
    'domain' => '_HOST_',
    'description' => 'SpreadShare let\'s you crowd-organise your knowledge in data tables',
    'wallet' => '_WALLET_',
    'elasticsearch' => [
        'host' => 'elasticsearch',
        'port' => '9200',
    ],
    'algolia' => [
        'app-id' => 'JDVCECO7A6',
        'api-key' => '9b974cc48b2043752f8ff7245972bd7a',
    ],
    'read-database' => [
        'adapter' => 'Mysql',
        'host' => 'mysql1',
        'port' => '3306',
        'username' => 'root',
        'password' => 'spreadshare',
        'dbname' => 'spreadshare',
        'charset' => 'utf8',
        'profile' => false,
    ],
    'write-database' => [
        'adapter' => 'Mysql',
        'host' => 'mysql1',
        'port' => '3306',
        'username' => 'root',
        'password' => 'spreadshare',
        'dbname' => 'spreadshare',
        'charset' => 'utf8',
        'profile' => false,
    ],
    'memcache' => [
        [
            'lifetime' => 3600 * 48,
            'host' => 'memcached',
            'port' => 11211,
            'persistent' => true,
            'weight' => 1,
        ],
    ],
    'redis' => [
        'host' => 'redis',
        'port' => 6379,
    ],
    'crypt' => [
        'key' => '_CRYPT_KEY_',
    ],
    'mail' => [
        'driver' => 'mailgun',
        'from' => [
            'email' => 'no-reply@spreadshare.co',
            'name' => 'Spreadshare',
        ],
        'mailgun' => [
            'domain' => 'spreadshare.co',
            'apikey' => '_MAILGUN_KEY_',
            'url' => 'api.mailgun.net/v3/spreadshare.co',
        ],
    ],
    'sentry' => [
        'key' => '_SENTRY_KEY_',
    ],
    'slack' => [
        'webhook-url' => '_SLACK_WEBHOOK_',
        'tables-channel' => '#tables',
        'users-channel' => '#users',
    ],
    'files' => [
        'service' => '_FILES_SERVICE_',
        'local' => [
            'path' => ROOT_PATH . '/system/uploads/',
        ],
        'aws' => [
            'bucket' => 'bucket-name',
            'credentials' => [
                'key' => 'your-key',
                'secret' => 'your-secret',
            ],
            'region' => 'your-region',
            'version' => 'latest|version',
        ],
    ],
    'dirs' => [
        'DS' => ROOT_PATH . '/app/',
        'DS\Controller' => ROOT_PATH . '/app/controllers/',
        'DS\Model' => ROOT_PATH . '/app/models/',
        'DS\ViewModel' => ROOT_PATH . '/app/viewmodels/',
        'DS\Component' => ROOT_PATH . '/app/components/',
        'DS\Modules' => ROOT_PATH . '/app/modules/',
        'DS\Traits' => ROOT_PATH . '/app/traits/',
        'DS\Interfaces' => ROOT_PATH . '/app/interfaces/',
        'DS\Task' => ROOT_PATH . '/app/tasks/',
        'DS\Cli' => ROOT_PATH . '/app/cli/',
        'DS\Constants' => ROOT_PATH . '/app/constants/',
        'DS\Tests' => ROOT_PATH . '/app/tests/',
        'DS\Api' => ROOT_PATH . '/app/api/',
        'DS\Events' => ROOT_PATH . '/app/events/',
        'DS\Listeners' => ROOT_PATH. '/app/listeners',
        'DS\Exceptions' => ROOT_PATH . '/app/exceptions/',
        'DS\Dto' => ROOT_PATH . '/app/dto/',
        'DS\Dto\Feed' => ROOT_PATH . '/app/dto/feed/',
        'DS\Services' => ROOT_PATH . '/app/services/',
    ],
    'mode' => '_ENVIRONMENT_',

    'hybridauth' => [
        "debug_mode" => '_AUTH_DEBUG_',
        "debug_file" => ROOT_PATH . "/system/log/hybridauth",

        //Location where to redirect users once they authenticate with a provider
        'callback' => '_AUTH_CALLBACK_',

        //Providers specifics
        'providers' => [
            'Twitter' => [
                'enabled' => true,     //Optional: indicates whether to enable or disable Twitter adapter. Defaults to false
                'keys' => [
                    'id' => '_TWITTER_ID_',
                    'key' => '_TWITTER_KEY_',
                    'secret' => '_TWITTER_SECRET_',
                ],
            ],
            "Google" => [
                "enabled" => true,
                "keys" => [
                    "id" => "_GOOGLE_ID_",
                    "secret" => "_GOOGLE_SECRET_",
                ],
                "scope" => "https://www.googleapis.com/auth/plus.login ",
                "approval_prompt" => "force",
            ],
            'Facebook' => [
                'enabled' => true,
                'keys' => [
                    'id' => '_FACEBOOK_ID_',
                    'secret' => '_FACEBOOK_SECRET_',
                ],
                "scope" => "email",
            ],
        ],
    ],

];
