// rem mixins w/fallback
@mixin rem($property, $value) {
  #{$property}: #{$value}px;
  #{$property}: #{$value * 0.0625}rem;
}
@mixin rem2($property, $value1, $value2) {
  #{$property}: #{$value1}px #{$value2}px;
  #{$property}: #{$value1 * 0.0625}rem #{$value2 * 0.0625}rem;
}
@mixin rem3($property, $value1, $value2, $value3) {
  #{$property}: #{$value1}px #{$value2}px;
  #{$property}: #{$value1 * 0.0625}rem #{$value2 * 0.0625}rem;
}
@mixin rem4($property, $value1, $value2, $value3, $value4) {
  #{$property}: #{$value1}px #{$value2}px #{$value3}px #{$value4}px;
  #{$property}: #{$value1 * 0.0625}rem #{$value2 * 0.0625}rem #{$value3 * 0.0625}rem #{$value4 * 0.0625}rem;
}

// media query mixins
@mixin mobile {
  @media (min-width: #{$mobile-width}) and (max-width: #{$tablet-width - 1px}) {
    @content;
  }
}

@mixin tablet {
  @media (min-width: #{$tablet-width}) and (max-width: #{$desktop-width - 1px}) {
    @content;
  }
}

@mixin desktop {
  @media (min-width: #{$desktop-width}) {
    @content;
  }
}

@mixin media-query($media) {
  @if $media == phone {
    @media (min-width: 320px) { @content; }
  }
  @else if $media == tablet {
    @media (min-width: 768px) { @content; }
  }
  @else if $media == desktop {
    @media (min-width: 1024px) { @content; }
  }
  @else if $media == wide-screens {
    @media (min-width: 1920px) { @content; }
  }
  @else {
    @media (#{$media}) { @content; }
  }
}

@mixin typography($type) {
  @if $type == 1 {
    @extend .-Headline-Big-Style;
  } @else if $type == 2 {
    @extend .-Subline-Big-Style;
  } @else if $type == 3 {
    @extend .-Headline-Medium-Style;
  } @else if $type == 4 {
    @extend .-Subline-Medium-Style;
  } @else if $type == 5 {
    @extend .-Headline-Small-Style;
  } @else if $type == 6 {
    @extend .-Bold-Text-Style;
  } @else if $type == 7 {
    @extend .-Text-Style;
  } @else if $type == 8 {
    @extend .-HEADER-Style;
  } @else if $type == 9 {
    @extend .-Button-Style;
  }
}

@mixin responsive-header-icon(
  $max-width: 25px,
  $height: 25px
) {
  img {
    width: 100%;
    max-width: $max-width;
    height: $height;
    vertical-align: middle;
    @include media-query(tablet) {
      width: auto;
      height: auto;
      max-width: initial;
    }
  }
}
