/* active classes */
.sign-box-selected {
  background: #F2F2F8;
}
.settings-box-selected {
  background: #F2F2F8;
  color: #6A7C94;
}
.table-card-upvoted {
  color: $logo-color;

  @include desktop {
    background: $logo-color;
    color: white;

    &:hover {
      background: darken($logo-color, 8%);
    }
  }
}
.link-active {
  color: $text-link-color-hover !important;

  a {
    color: $text-link-color-hover !important;
  }
}
.dropdown--filters {
  .link-active {
    a {
      color: $text-link-color-hover !important;

      &:after {
        content: ' (selected)';
        color: $logo-color;
      }
    }
  }
}
