.__page__top{
  // margin: 40px 20px 10px 20px;
  margin: 40px 60px 10px;
  h1 {
    text-align:left;
    font-size: 2em;
    color: #6A7C94;
  }
}


.__page__wrapper {
  background: #FFFFFF;
  border-radius: 8px;
  color: #6A7C94;
  // margin: 20px;
  margin: 15px 0 50px 60px;
  padding: 35px;
  line-height: 2em;
  width: 80%;

  h3 {
    margin: 15px 0 15px 0;
  }
  h4 {
    margin: 15px 0 15px 0;
  }
}

