// PROFILE CARD

.profile-card {
  &__avatar {
    width: 48px;
    height: 48px;
    border-radius: 9999px;
    margin-right: 7px;
    @include media-query(tablet) {
      width: 64px;
      height: 64px;
      margin-right: 9px;
    }
  }
  &__name {
    @include typography(6);

    color: #252442;
    margin-right: 10px;
    @include media-query(tablet) {
      margin-right: 14px;
    }
  }
  &__follow {
    @include typography(9);

    color: $text-color-green;
  }
  &__bio {
    @include typography(7);
  }
  &--type3 & {
    &__avatar {
      width: 18px;
      height: 18px;
      @include media-query(tablet) {
        width: 24px;
        height: 24px;
      }
    }
    &__name {
      margin-right: 10px;
      font-size: 11px;
      letter-spacing: -0.29px;
      @include media-query(tablet) {
        margin-right: 6px;
        font-size: 16px;
        letter-spacing: -0.43px;
      }
    }
    &__follow {
      font-size: 11px;
      letter-spacing: 0.34px;
      @include media-query(tablet) {
        font-size: 16px;
        letter-spacing: 0.5px;
      }
    }
  }
  &--type4 {
    min-width: 70%;
    padding: 0;
    margin-bottom: 12px;
    margin-right: 20px;
    &:not(:last-of-type) {
      margin-right: 6px;
    }
    @include media-query(tablet) {
      min-width: 45%;
      margin-bottom: 24px;
    }
    @include media-query(desktop) {
      margin-right: 0;
      min-width: auto;
      padding: 15px 6px 10px 6px;
      margin-bottom: 0;
      &:not(:last-of-type) {
        margin-right: 59px;
      }
    }
  }
  &--type4 & {
    &__avatar {
      width: 48px;
      height: 48px;
      margin-right: 12px;
      @include media-query(tablet) {
        width: 64px;
        height: 64px;
        margin-right: 16px;
      }
    }
    &__name {
    }
    &__follow {
    }
    &__bio {
      max-width: 305px;
    }
  }
  &--type9 {
    margin-left: 3px;
    margin-bottom: 24px;
    margin-top: 12px;
    @include media-query(tablet) {
      margin-left: 5px;
    }
  }
  &--type9 & {
    &__avatar {
      width: 48px;
      height: 48px;
      margin-right: 12px;
      @include media-query(tablet) {
        width: 64px;
        height: 64px;
        margin-right: 16px;
      }
    }
    &__name {
      margin-right: 4px;
      @include media-query(tablet) {
        margin-right: 6px;
      }
    }
    &__follow {
    }
    &__bio {
      margin-top: 4px;
      margin-right: 32px;
    }
  }
  &--type10 {
    min-width: 70%;
    margin-bottom: 0;
    margin-right: 20px;
    padding: 0px 0px 12px;
    &:not(:last-of-type) {
      margin-right: 6px;
    }
    @include media-query(tablet) {
      min-width: 45%;
      padding: 15px 6px 10px 6px;
    }
    @include media-query(desktop) {
      margin-right: 0;
      min-width: auto;
      &:not(:last-of-type) {
        margin-right: 59px;
      }
    }
  }
  &--type10 & {
    &__avatar {
      width: 48px;
      height: 48px;
      margin-right: 12px;
      margin-top: 2px;
      @include media-query(tablet) {
        width: 64px;
        height: 64px;
        margin-right: 16px;
        margin-top: 0;
      }
    }
    &__name {
    }
    &__follow {
    }
    &__bio {
      max-width: 305px;
      margin-top: 3px;
      @include media-query(tablet) {
        margin-top: 1px;
      }
    }
  }
  &--type11 & {
    &__avatar {
      width: 33px;
      height: 33px;
      margin-right: 7px;
      @include media-query(tablet) {
        width: 64px;
        height: 64px;
        margin-right: 16px;
      }
    }
    &__name {}
    &__follow {}
    &__bio {
      max-width: 305px;
      color: $text-color-gray;
    }
  }
}

// LIST CARD

.list-card {
  padding-left: 14px;
  padding-right: 14px;
  width: 100%;
  margin-bottom: 34px;
  padding-bottom: 10px;

  a {
    min-width: 0;

    /* stop title from growing over counter */
    & + .list-card__subscriberCount {
      flex: 1 15%;
      @include media-query(tablet) {
        flex: 1 11%;
      }
    }
  }
  h3 { width: auto; }

  @include media-query(tablet) {
    padding-left: 20px;
    padding-right: 20px;
    margin-bottom: 61px;
    width: 50%;
  }
  @include media-query(desktop) {
    width: 33.333%;
  }
  &--large {
    @include media-query(desktop) {
      width: 66.666%;
      .list-card__subscriberCount {
        margin-right: 10px;
      }
    }
  }
  &--half {
    @media (min-width: 1024px) {
      width: 50%;
      .list-card__subscriberCount {
        margin-right: 10px;
      }
    }
  }
  &__image {
    position: relative;
    height: 146px;
    border-radius: 4px;
    margin-bottom: 13px;
    @media (min-width: 768px) {
      margin-bottom: 19px;
      height: 175px;
    }
  }
  // &__listingCount {
  //   position: absolute;
  //   right: 0;
  //   bottom: 0;
  //   background: rgba(255, 255, 255, 0.5);
  //   font-family: 'Roboto Mono', monospace;
  //   color: #2a1e3e;
  //   font-size: 9px;
  //   letter-spacing: -0.22px;
  //   padding: 3px 5px;
  //   box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.1);
  //   border-radius: 2px;
  //   border-bottom-right-radius: 4px;
  //   @media (min-width: 768px) {
  //     font-size: 12px;
  //     letter-spacing: -0.29px;
  //     padding: 2px 6px;
  //     box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.18);
  //   }
  // }
  &__name {
    @include typography(5);

    margin-left: 0;
    width: calc(50vw - 110px);

    @media (max-width: 767px) {
      color: #2a1e3e;
      margin-bottom: 14px;
      margin-left: 8px;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }
  }
  &--large {
    .list-card__name {
      @media (min-width: 1024px) {
        width: calc(66.666vw - 110px);
      }
      @media (min-width: 1375px) {
        width: calc(916px - 110px);
      }
    }
  }
  &--half {
    .list-card__name {
      @media (min-width: 1024px) {
        width: calc(37vw - 147px);
      }
      @media (min-width: 1375px) {
        width: calc(462px - 110px);
      }
    }
  }
  &__subscriberCount {
    @include typography(5);
    justify-content: flex-end;
    align-self: baseline;
    margin-bottom: 10px;
    color: #ea612d;
    margin-right: 8px;
    @include media-query(tablet) {
      font-size: 20px;
      margin-right: 2px;
    }
    img {
      width: 14px;
      margin-right: 4px;
      margin-top: 2px;
      @include media-query(tablet) {
        margin-right: 6px;
        width: 16px;
      }
    }
  }
  .homepage-gutter &__subscriberCount,
  .homepage-space + div &__subscriberCount {
    font-size: 18px;
    @include media-query(tablet) {
      font-size: 20px;
    }
    img {
      margin-top: 4px;
    }
  }
  &__description {
    @include typography(7);

    font-size: 16px;
    margin-top: 14px;
    margin-left: 0;
    margin-bottom: 24px;
    a {
      color: #2dad6b;
    }
    @media (max-width: 767px) {
      color: #9baabf;
      margin-top: 1px;
      margin-bottom: 20px;
      margin-left: 8px;
    }
  }
  .profile-card {
    margin-left: 7px;
    @media (min-width: 768px) {
      margin-left: 2px;
    }
  }
  &--small {
    margin-bottom: 40px;
    &:nth-child(odd) {
      padding-left: 12px;
      padding-right: 6px;
    }
    &:nth-child(even) {
      padding-left: 6px;
      padding-right: 12px;
    }
    .list-card__image {
      height: 175px;
      margin-bottom: 6px;
    }
    .list-card__name {
      width: auto;
      font-size: 21px;
      margin-bottom: 0px;
    }
    .list-card__description {
      font-size: 14px;
    }
    .list-card__subscriberCount {
      margin-top: 4px;
      font-size: 17px;
      @include media-query(tablet) {
        font-size: 20px;
      }
      img {
        margin-right: 3px;
        width: 14px;
        @include media-query(tablet) {
          width: 16px;
          margin-top: 4px;
        }
      }
    }
    @include media-query(tablet) {
      width: calc(100%/3);
      padding-left: 12px;
      padding-right: 12px;
    }
  }
}

// ACTION CARD

.action-card {
  padding-left: 14px;
  padding-right: 14px;
  width: 100%;
  margin-bottom: 34px;
  margin-top: -10px;
  @media (min-width: 768px) {
    padding-left: 20px;
    padding-right: 20px;
    width: 50%;
    min-height: 423px;
    margin-bottom: 82px;
    margin-top: 0;
  }
  @media (min-width: 1024px) {
    width: 33.333%;
  }
  &__inner {
    display: flex;
    flex-direction: column;
    height: 100%;
    padding: 18px 16px 12px 16px;
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.18);
    border-radius: 4px;
    position: relative;
    @media (min-width: 768px) {
      padding: 35px;
      padding-bottom: 64px;
    }
  }
  &__heading {
    @include typography(5);

    margin-bottom: 20px;

    @media (max-width: 767px) {
      margin-bottom: 16px;
      margin-left: 4px;
    }
  }
  &__text {
    @include typography(7);

    margin-bottom: 32px;
    margin-right: -10px;

    @media (max-width: 767px) {
      margin-left: 4px;
      margin-bottom: 26px;
    }
  }
  &__link {
    font-weight: bold;
    text-decoration: underline;
    letter-spacing: -1.14px;
    color: inherit;
  }
  &__button {
    @include typography(9);

    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    height: 64px;
    margin-top: auto;
    border-radius: 2px;
    box-shadow: 0 0 1px 0 rgba(0,0,0,.05);

    @media (max-width: 767px) {
      height: 42px;
      position: relative;
      box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.18);
    }
  }
  &--orange-bird & {
    &__inner {
      background: url(/assets/images/9-0/orange-bird-background.png) center /
        cover;
    }
    &__heading {
      color: #ffffff;
    }
    &__text {
      color: #ffffff;
    }
    &__button {
      background: #ffffff;
      color: #ea612d;
    }
  }
  &--purple-whale & {
    &__inner {
      background: url(/assets/images/9-0/purple-whale-background.png) center /
        cover;
    }
    &__heading {
      color: #ffffff;
    }
    &__text {
      color: #ffffff;
    }
    &__button {
      background: #ffffff;
      color: #2c247f;
    }
  }
  &--blue-octopus & {
    &__inner {
      background: url(/assets/images/9-0/blue-octopus-background.png) center /
        cover;
    }
    &__heading {
      color: #ffffff;
    }
    &__text {
      color: #ffffff;
    }
    &__button {
      background: #ffffff;
      color: #2860f5;
    }
  }
  &--green-lightning & {
    &__inner {
      background: url(/assets/images/9-0/green-lightning-background.png) center /
        cover;
    }
    &__heading {
      color: #ffffff;
    }
    &__text {
      color: #ffffff;
    }
    &__button {
      background: #ffffff;
      color: #2dad6b;
    }
  }
}
