/* Search Overlay: */
.search {
  &__dropdown {
    visibility: hidden;
    position: absolute;
    background: #ffffff;
    z-index: 999;
    width: calc(100% - 10px);
    min-height: 510px;
    margin-top: 5px;
    border: 1px solid #f8f8fb;
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.18);
    border-radius: 4px;
    padding: 16px;
    display: flex;
    flex-direction: column;
    left: 0;
    @media (min-width: 768px) {
      width: 546px;
      margin-top: 1px;
    }

    .all-results {
      @include typography(9);

      margin-top: auto;
      color: #6cc69d;
      text-align: center;
      padding-top: 12px;
    }

    .description {
      @include typography(7);

      display: inline-block;
      color: #dee0e7;
    }

    .result-count {
      @include typography(8);

      display: inline-block;
      color: #6a7c94;
      margin-left: 8px;
      margin-bottom: 19px;
    }

    .item {
      display: block;
      padding-bottom: 12px;
      padding-left: 0;
      letter-spacing: -0.58px;
      line-height: 22px;

      .title {
        @include typography(5);

        color: #252442;
        mark {
          color: $text-color;
          background: #ffffff;
        }
      }

      .tagline {
        @include typography(7);

        color: #9baabf;
      }
    }
  }
}
