/* Search Overlay: */
.search {
  &__dropdown {
    visibility: hidden;
    position: absolute;
    background: #ffffff;
    z-index: 999;
    width: calc(100% - 10px);
    min-height: 510px;
    margin-top: 5px;
    border: 1px solid #f8f8fb;
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.18);
    border-radius: 4px;
    padding: 16px;
    display: flex;
    flex-direction: column;
    left: 0;
    @include media-query(tablet) {
      width: 546px;
      margin-top: 1px;
    }

    .u-flex {
      align-items: center;
    }

    .all-results {
      @include typography(9);

      margin-top: auto;
      color: #6cc69d;
      text-align: center;
      padding-top: 10px;
    }

    .description {
      @include typography(8);

      display: inline-block;
      color: $text-color-gray;
    }

    .result-count,
    .streams-result-count,
    .users-result-count {
      @include typography(8);

      display: inline-block;
      color: #132466;
      margin-left: 8px;
      line-height: 1.33;
      @include media-query(tablet) {
        line-height: 20px;
      }
    }

    #search-items {
      margin-top: 30px;
      margin-bottom: 30px;
    }

    #streams-search-items,
    #users-search-items {
      margin-top: 25px;
      margin-bottom: 25px;
    }

    .item {
      display: block;
      letter-spacing: -0.58px;
      line-height: 22px;
      margin-bottom: 25px;

      .title {
        @include typography(5);
        color: #2a1e3e;
        margin-bottom: 5px;
        mark {
          color: $text-color;
          background: #ffffff;
        }
      }

      .tagline {
        @include typography(7);
        color: #9baabf;
      }
    }
  }
}
