.layout__content__main {
  // settings/personal
  &__personal {
    display: flex;
    flex-direction: column;

    &__column {
      display: flex;
      flex-direction: column;
    }
    &__row {
      display: flex;
      flex-direction: row;
      align-items: center;
    }

    &__profile {
      &__text {
        p {
          margin: 0;
          color: $text-color-alternate;
          @include rem(margin-bottom, 16);
        }
      }
      &__photo {
        img {
          display: block;
          border-radius: 6px;
          @include rem(width, 60);
          @include rem(margin-right, 16);
        }
      }
      &__add {
        button {
          border: none;
          border-radius: 3px;
          background: $text-color;
          color: white;
          text-transform: uppercase;
          @include rem2(padding, 10, 12);
          @include rem(margin-right, 16);
          @include rem(font-size, 14);

          &:hover {
            background: darken($text-color, 8%);
            cursor: pointer;
          }
        }
      }
      &__remove {
        a {
          text-decoration: none;
          color: $text-link-color;
          font-weight: 300;
          text-transform: uppercase;
          @include rem(font-size, 14);

          &:hover {
            color: $text-link-color-hover;
          }
        }
      }
    }
    &__name {
      &__text {
        p {
          margin: 0;
          color: $text-color-alternate;
          @include rem(margin-top, 16 * 3);
          @include rem(margin-bottom, 8);
        }
      }
    }
    &__username {
      &__text {
        p {
          margin: 0;
          color: $text-color-alternate;
          @include rem(margin-top, 16 * 3);
          @include rem(margin-bottom, 8);
        }
      }
    }
    &__tagline {
      &__text {
        p {
          margin: 0;
          color: $text-color-alternate;
          @include rem(margin-top, 16 * 3);
          @include rem(margin-bottom, 8);
        }
      }
      span {
        color: #DEE0E7;
        @include rem(font-size, 12);

        i {
          font-style: normal;
          color: #9CAAC0;
        }
      }
    }
    &__locations {
      &__text {
        p {
          margin: 0;
          color: $text-color-alternate;
          @include rem(margin-top, 16 * 3);
          @include rem(margin-bottom, 8);
        }
      }
      &__tags {
        display: flex;
        background: $background-color;
        border-radius: 3px;
        @include rem2(padding, 8, 12);

        &__item {
          display: flex;
          background: inherit;
          @include rem(margin-right, 12);

          &__text {
            margin: 0;
            background: $card-tokens-background-color;
            color: white;
            font-weight: 300;
            border-top-left-radius: 4px;
            border-bottom-left-radius: 4px;
            @include rem(font-size, 14);
            @include rem2(padding, 8, 12);
          }

          &__close {
            display: flex;
            justify-content: center;
            color: $card-tokens-background-color;
            background: white;
            border-top-right-radius: 4px;
            border-bottom-right-radius: 4px;
            text-align: center;
            height: 100%;
            @include rem(width, 33);

            &:hover {
              cursor: pointer;
            }

            img {
              @include rem(width, 9);
            }
          }
        }
      }
    }
    &__website {
      &__text {
        p {
          margin: 0;
          color: $text-color-alternate;
          @include rem(margin-top, 16 * 3);
          @include rem(margin-bottom, 8);
        }
      }
    }
    &__switch {
      &__text {
        p {
          margin: 0;
          color: $text-color-alternate;
          @include rem(margin-top, 16 * 3);
          @include rem(margin-bottom, 8);
        }
      }

      &__buttons {
        display: flex;
        color: white;
        background: $background-color;
        font-weight: 300;

        &--left {
          border-top-left-radius: 3px;
          border-bottom-left-radius: 3px;
          @include rem2(padding, 10, 12);

          &:hover {
            cursor: pointer;
            background: darken($background-color, 8%);
          }
        }
        &--right {
          border-top-right-radius: 3px;
          border-bottom-right-radius: 3px;
          @include rem2(padding, 10, 12);

          &:hover {
            cursor: pointer;
            background: darken($background-color, 8%);
          }
        }

        .active {
          background: $logo-color;
        }
      }
    }
  }
  // settings/account
  &__account {
    display: flex;
    flex-direction: column;

    &__column {
      display: flex;
      flex-direction: column;
    }
    &__row {
      display: flex;
      flex-direction: row;
      align-items: center;
    }

    &__email {
      &__text {
        p {
          margin: 0;
          color: $text-color-alternate;
          @include rem(margin-bottom, 8);
        }
      }
    }
    &__password {
      &__text {
        p {
          margin: 0;
          color: $text-color-alternate;
          @include rem(margin-top, 16 * 3);
          @include rem(margin-bottom, 8);
        }
      }
      span {
        color: #D8D8D8;
        text-transform: uppercase;
        @include rem(font-size, 12);

        &:hover {
          cursor: pointer;
          color: darken(#D8D8D8, 8%);
        }
      }
    }
    &__facebook {
      display: flex;
      width: 100%;

      &__text {
        p {
          margin: 0;
          color: $text-color-alternate;
          @include rem(margin-top, 16 * 3);
          @include rem(margin-bottom, 8);
        }
      }
      &__button {
        width: 90%;
        border-radius: 4px;
        background: $facebook-color;
        display: flex;
        align-items: center;
        @include rem2(padding, 8, 16);

        @include tablet {
          width: 50%;
        }
        @include desktop {
          width: 30%;
        }

        img {
          @include rem(width, 20);
          @include rem(margin-right, 10);
        }
        span {
          margin: 0;
          text-transform: uppercase;
          align-self: center;
          color: white;
        }

        &:hover {
          cursor: pointer;
          background: lighten($facebook-color, 4%);
        }
      }

      &__info {
        color: #DEE0E7;
        font-weight: 300;
        @include rem(font-size, 12);
        @include rem(margin-top, 8);
      }
    }
    &__twitter {
      display: flex;
      width: 100%;

      &__text {
        p {
          margin: 0;
          color: $text-color-alternate;
          @include rem(margin-top, 16 * 3);
          @include rem(margin-bottom, 8);
        }
      }
      &__button {
        width: 90%;
        border-radius: 4px;
        background: $twitter-color;
        display: flex;
        align-items: center;
        @include rem2(padding, 8, 16);

        @include tablet {
          width: 50%;
        }
        @include desktop {
          width: 30%;
        }

        &:hover {
          cursor: pointer;
          background: lighten($facebook-color, 4%);
        }

        &.connected {
          background: #DEE0E7;

          &:hover {
            cursor: pointer;
            background: darken(#DEE0E7, 8%);
          }
        }

        img {
          @include rem(width, 20);
          @include rem(margin-right, 10);
        }
        span {
          margin: 0;
          text-transform: uppercase;
          align-self: center;
          color: white;
        }
      }

      &__info {
        color: #DEE0E7;
        font-weight: 300;
        @include rem(font-size, 12);
        @include rem(margin-top, 8);
      }
    }
    &__logout {
      display: flex;

      &__text {
        p {
          margin: 0;
          color: $text-color-alternate;
          @include rem(margin-top, 16 * 3);
          @include rem(margin-bottom, 8);
        }
      }

      &__button {
        border-radius: 4px;
        background: #DEE0E7;
        display: flex;
        align-items: center;
        @include rem2(padding, 8, 16);

        &:hover {
          cursor: pointer;
          background: darken(#DEE0E7, 8%);
        }

        img {
          @include rem(width, 20);
          @include rem(margin-right, 10);
        }
        span {
          margin: 0;
          text-transform: uppercase;
          align-self: center;
          color: white;
        }
      }
    }
  }
  // settings/notifications
  &__notifications {
    display: flex;
    flex-direction: column;

    &__column {
      display: flex;
      flex-direction: column;
    }
    &__row {
      display: flex;
      flex-direction: row;
      align-items: center;
    }

    &__wrapper {
      display: flex;
      flex-direction: column;
    }

    &__text {
      p {
        margin: 0;
        color: $text-color-alternate;
        @include rem(margin-bottom, 24);
      }
    }

    &__switch {
      @include rem(margin-bottom, 16);
      &__buttons {
        display: flex;
        color: white;
        background: $background-color;
        font-weight: 300;

        &--left {
          border-top-left-radius: 3px;
          border-bottom-left-radius: 3px;
          @include rem2(padding, 10, 12);

          &:hover {
            cursor: pointer;
            background: darken($background-color, 8%);
          }
        }
        &--right {
          border-top-right-radius: 3px;
          border-bottom-right-radius: 3px;
          @include rem2(padding, 10, 12);

          &:hover {
            cursor: pointer;
            background: darken($background-color, 8%);
          }
        }

        .active {
          background: $logo-color;
        }
      }

      &__info {
        p {
          margin: 0;
          text-transform: none;
          @include rem(margin-left, 20);
        }
        p:first-child {
          color: $text-color;
          font-weight: 400;
          @include rem(font-size, 16);
        }
        p:last-child {
          color: $text-color-alternate;
          font-weight: 300;
          @include rem(font-size, 14);
        }
      }
    }
  }
  // settings/connected
  &__connected {

  }
  // settings/wallet
  &__wallet {
    display: flex;
    flex-direction: column;

    &__column {
      display: flex;
      flex-direction: column;
      width: 100%;
    }
    &__row {
      display: flex;
      flex-direction: row;
      align-items: center;
    }

    &__stats {
      &__text {
        p {
          margin: 0;
          color: $text-color-alternate;
          @include rem(margin-bottom, 30);
        }
      }
      &__data {
        p:first-child {
          margin: 0;
          color: $text-color;
          @include rem(font-size, 40);
        }
        p:last-child {
          margin: 0;
          @include rem(margin-top, 6);

          i {
            font-style: normal;
            color: $logo-color;
          }
          span {
            text-transform: uppercase;
            color: #9CAAC0;
          }
        }
      }
    }

    &__tables {
      display: flex;

      &__text {
        @include rem(margin-bottom, 16);

        p {
          color: #B1BBC7;
          font-weight: 300;
        }
      }

      &__titles {
        display: flex;
        justify-content: space-between;
        background: inherit;
        font-weight: 400;

        div {
          display: flex;
          justify-content: center;
          align-items: center;
          width: 100%;
          @include rem(margin-bottom, 10);

          &:hover {
            cursor: pointer;
          }

          &:first-child {
            justify-content: flex-start;
            &:hover {
              cursor: unset;
            }
            p {
              text-align: left;
            }
          }
          &:last-child {
            justify-content: flex-end;
            p {
              text-align: right;
            }
          }
          &:nth-child(2) {
            @include rem(margin-left, 44);
          }
          &:nth-child(3) {
            @include rem(margin-left, 44);
          }

          p {
            margin: 0;
            text-align: center;
            text-transform: none;
            font-weight: 400;
            @include rem(font-size, 10);

            @include tablet {
              @include rem(font-size, 12);
            }
            @include desktop {
              @include rem(font-size, 14);
            }
          }
          img {
            align-self: center;
            @include rem(margin-left, 8);
            @include rem(width, 6);

            @include tablet {
              @include rem(width, 7);
            }
            @include desktop {
              @include rem(width, 8);
            }
          }
        }
      }

      &__cells {
        background: white;

        &__item {
          display: flex;
          justify-content: space-between;
          background: #F2F2F8;
          border-radius: 3px;
          font-weight: 300;
          color: $card-tokens-background-color;
          @include rem(font-size, 12);
          @include rem(margin-bottom, 10);
          @include rem2(padding, 16, 0);

          @include tablet {
            @include rem(font-size, 14);
          }
          @include desktop {
            @include rem(font-size, 16);
          }

          div:first-child {
            @include rem(padding-left, 8);
          }
          div:last-child {
            @include rem(padding-right, 8);
          }
        }
      }
    }
  }
  // settings/invite
  &__invite {

  }

  // main buttons
  &__buttons {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    background: #F8F8FB;
    @include rem2(margin, 0, -35);
    @include rem(margin-top, 32 * 2);
    @include rem(margin-bottom, -25);
    @include rem(padding, 16);

    a {
      text-decoration: none;
      font-weight: 300;
      text-transform: uppercase;
      color: #B1BBC7;
      background: transparent;
      @include rem(margin-right, 24);

      &:hover {
        text-decoration: none;
        color: $text-link-color-hover;
      }
    }

    button {
      font-weight: 300;
      text-transform: uppercase;
      color: white;
      background: $logo-color;
      border: none;
      border-radius: 4px;
      @include rem(font-size, 15);
      @include rem2(padding, 8, 16);

      &:hover {
        cursor: pointer;
        background: lighten($logo-color, 4%);
      }
    }
  }
}

// aside menu
.layout__content__aside {
  &__box {
  @include rem(font-size, 14);

    a {
      color: $card-tokens-background-color;
    }
  }
}
