.container--tableUsers {
  width: 100%;

  .container__content {
    position: relative;

    & > p {
      position: absolute;
      top: -30px;
      left: 0;
      color: $text-color-alternate;
      font-weight: 500;
      text-transform: uppercase;
      @include rem(font-size, 14);
    }

    @include desktop {
      width: 72.5%;
      margin-bottom: 0;
    }

    .tableUsers {
      display: flex;
      flex-wrap: wrap;
      width: 100%;
      align-items: flex-start;
      justify-content: center;
      @include rem(margin-top, 16);

      &__item {
        display: flex;
        align-items: center;
        flex-direction: column;
        @include rem(margin-bottom, 16);

        @include desktop {
          flex-direction: row;
          justify-content: space-between;
          @include rem(margin-right, 16);
        }

        &__avatar {
          @include desktop {
            @include rem(margin-right, 8);
          }

          img {
            border-radius: 4px;
            @include rem(width, 50);
            @include rem(height, 50);
          }
        }

        &__info {
          display: flex;
          flex-direction: column;
          align-items: center;

          @include desktop {
            align-items: flex-start;
          }

          &__title {
            display: flex;

            h5 {
              color: $text-color;
              font-weight: 600;
              @include rem(font-size, 14);
            }
          }
          &__subtitle {
            display: flex;
            justify-content: space-between;
            text-align: center;

            @include desktop {
              text-align: left;
            }

            p {
              color: $text-color-alternate;
              font-weight: 500;
              white-space: nowrap;
              text-overflow: ellipsis;
              overflow: hidden;
              @include rem(width, 180);
              @include rem(font-size, 12);
            }
          }
        }

        &__follow {
          @include rem(margin-left, 10);

          button {
            background: $upvote-background-color;
            color: $text-color;
            border: none;
            border-radius: 4px;
            outline: none;
            font-weight: 600;
            @include rem(font-size, 14);
            @include rem2(padding, 2, 8);

            &:hover {
              cursor: pointer;
              background: darken($upvote-background-color, 6%);
            }
          }
        }
      }
    }
  }

  aside {
    position: relative;

    & > p {
      position: absolute;
      top: -30px;
      left: 0;
      color: $text-color-alternate;
      font-weight: 500;
      text-transform: uppercase;
      @include rem(font-size, 14);
    }

    @include desktop {
      width: 22.5%;
      margin-bottom: 0;
    }
  }
}
