.container--tableFeed {
  width: 100%;

  .container__content {
    flex-direction: column;

    @include desktop {
      width: 72.5%;
      margin-bottom: 0;
    }
  }
}

aside.aside {
  @include desktop {
    width: 22.5%;
  }
}

.tableFeed {
  &__item {
    display: flex;
    color: $text-color-alternate;
    @include rem(margin-bottom, 16);

    &:last-child {
      margin-bottom: 0;
      .tableFeed__item__info {
        border-bottom: none;
      }
    }

    &__avatar {
      @include rem(margin-right, 12);

      img {
        border-radius: 6px;
        @include rem(width, 34);
        @include rem(height, 34);
      }
    }
    &__info {
      display: flex;
      width: 100%;
      flex-direction: column;
      border-bottom: 1.6px solid whitesmoke;

      &__text {
        @include rem(font-size, 12);

        @include desktop {
          @include rem(font-size, 14);
        }

        &__author {
          font-weight: 400;
          color: $text-color;
        }
        &__message {
          font-weight: 400;
        }
      }
      &__time {
        @include rem(margin-top, -4);
        @include rem(margin-bottom, 8);

        span {
          color: lighten($text-color-alternate, 12%);
          @include rem(font-size, 10);

          @include desktop {
            @include rem(font-size, 12);
          }
        }
      }
    }
  }
}
