.table {
  display: flex;
  flex-direction: column;

  &__header {
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: space-between;
    @include rem(padding, 50);

    @include desktop {
      @include rem2(padding, 50, 100);
      @include rem(padding-bottom, 10);
    }

    &__up {
      display: flex;
      width: 100%;
      flex-direction: column;
      justify-content: space-between;

      @include desktop {
        flex-direction: row;
      }

      &__details {
        position: relative;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        width: 80%;

        h1 {
          white-space: nowrap;
          text-overflow: ellipsis;
          overflow: hidden;
        }

        &__owner {
          text-transform: uppercase;
          font-weight: 500;
          color: lighten($logo-color, 4%);
          @include rem(font-size, 12);
        }

        &__info {
          display: flex;
          align-items: center;

          &__tagline {
            @include rem(margin-right, 12);
            white-space: nowrap;
            text-overflow: ellipsis;
            overflow: hidden;
          }

          &__tokens {
            position: absolute;
            top: -24px;
            left: 0;
            background: $text-color;
            display: inline-flex;
            align-self: center;
            border-radius: 6px;
            text-transform: uppercase;
            font-weight: 500;
            color: #fff;
            @include rem2(padding, 2, 8);
            @include rem(margin-bottom, 14);
            @include rem(font-size, 12);

            @include desktop {
              align-self: flex-start;
              margin-bottom: 0;
            }
          }
        }

        h1 {
          color: $text-color;
          @include rem(font-size, 42);
          @include rem(margin-bottom, 14);

          @include desktop {
            text-align: left;
            margin-bottom: 0;
          }
        }
        h3 {
          color: $text-color;
          font-weight: 400;
          text-align: center;
          @include rem(font-size, 16);
          @include rem(margin-bottom, 14 * 2);

          @include desktop {
            margin-bottom: 0;
            text-align: left;
          }
        }
      }

      &__buttons {
        display: flex;
        justify-content: center;

        @include desktop {
          justify-content: flex-start;
        }

        button {
          background: white;
          font-weight: 500;
          border: none;
          color: $text-color;
          align-self: center;
          cursor: pointer;
          outline: none;
          @include rem(font-size, 16);
          @include rem2(padding, 6, 14);

          &:nth-child(even) {
            @include rem2(margin, 0, 10);
          }

          &.subscribe {
            color: white;
            background: $logo-color;

            &:hover {
              background: lighten($logo-color, 4%);
            }

            &:after {
              content: 'Subscribe';
            }
          }
          &.subscribed {
            color: white;
            background: $upvote-text-color;

            &:hover {
              background: darken($upvote-text-color, 8%);
            }

            &:after {
              content: 'Unsubscribe';
            }
          }

          &.upvote {
            display: flex;
            align-items: center;

            div:first-child {
              margin-right: 12px;
            }

            &:hover {
              color: white;
              background: $text-link-color-hover;
            }
          }
          &.upvoted {
            color: white;
            background: $logo-color;

            &:hover {
              background: darken($logo-color, 8%);
            }
          }
          &.flag {
            display: flex;
            justify-content: center;
            align-items: center;
            height: 36px;
          }
        }
      }
    }

    &__menu {
      display: flex;
      justify-content: center;
      text-transform: uppercase;
      @include rem(margin-top, 50);
      @include rem(margin-bottom, 16);
      @include rem(font-size, 14);

      @include desktop {
        justify-content: flex-start;
      }

      a.selected, a:hover {
        color: $text-color !important;
        background: transparent !important;
      }

      a {
        color: #cbd0db !important;

        &:last-child {
          span.table__header__menu__item {
            margin-right: 0;
          }
        }
      }

      &__item {
        display: flex;
        align-items: center;
        @include rem(margin-right, 18);

        @include desktop {
          @include rem(margin-right, 36);
        }

        div:first-child {
          @include rem(margin-top, -2);
          @include rem(margin-right, 4);
        }

        @include desktop {
        }
      }
    }
  }
}

.handsontable tr:nth-child(odd) {
  background: white !important;;
}
.handsontable tr:nth-child(even) {
  background: lighten($background-color, 2) !important;
}

.handsontable td {
  background: transparent !important;
}

.dxTqwX {
  padding: 15px !important;
  border-radius: 7px;
}
.dxTqwX a {
  margin-bottom: 8px;
  color: #B1BBC7;
}
.bAvots {
  padding: 0 !important;
  border-radius: 7px;
  height: auto !important;
}
.bAvots div {
  background: #F8F8FB;
  padding: 10px;
  border-radius: 7px;
}
.bAvots div button {
  border: none;
  width: 25%;
  color: #B1BBC7;
  cursor: pointer;
}
.bAvots div button:first-child {
  width: 50%;
  text-align: left;
  color: #6A7C94;
}

.bAvots div button:last-child {
  border: none;
  background: #6A7C94;
  color: white;
  border-radius: 4px;
  padding: 5px 10px;
  width: 25%;
}
#sidebarForm {
  @include mobile {
    display: none;
  }
  @include tablet {
    display: none;
  }
}
.sc-dnqmqq table {
  margin: 10px;
  color: #B1BBC7;
}
.sc-dnqmqq select {
  margin: 0 15px;
  border: none;
  background: transparent;
  text-align: center;
}
.sc-dnqmqq option {
  margin: 0 15px;
  border: none;
  background: transparent;
}
.sc-dnqmqq table button {
  border-radius: 50%;
  border: none;
  background: #6A7C94;
  font-weight: 500;
  color: #fff;
  padding: 2px 6px;
  font-size: 10px;
  margin: 0 10px 0 0;
}

.jQqZcd {
  position: sticky !important;
}
