.-Headline-Big-Style {
  font-family: Lato;
  font-size: 40px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: -1px;
  text-align: left;
  color: #2a1e3e;

  @media (max-width: 767px) {
    letter-spacing: calc(-4 / 3) px;
    font-size: calc(40 * 3 / 4) px;
  }
}

.-Subline-Big-Style {
  font-family: Lato;
  font-size: 30px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: -0.7px;
  text-align: left;
  color: #9baabf;

  @media (max-width: 767px) {
    letter-spacing: calc(-0.7 * 4 / 3) px;
    font-size: calc(30 * 3 / 4) px;
  }
}

.-Headline-Medium-Style {
  font-family: Lato;
  font-size: 30px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: -0.7px;
  text-align: left;
  color: #2a1e3e;

  @media (max-width: 767px) {
    letter-spacing: calc(-0.7 * 4 / 3) px;
    font-size: calc(30 * 3 / 4) px;
  }
}

.-Subline-Medium-Style {
  font-family: Lato;
  font-size: 22.5px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: -0.5px;
  text-align: left;
  color: #9baabf;

  @media (max-width: 767px) {
    letter-spacing: calc(-0.5 * 4 / 3) px;
    font-size: calc(22.5 * 3 / 4) px;
  }
}

.-Headline-Small-Style {
  font-family: Lato;
  font-size: 20px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: -0.5px;
  text-align: left;
  color: #2a1e3e;

  @media (max-width: 767px) {
    letter-spacing: calc(-0.5 * 4 / 3) px;
    font-size: calc(20 * 3 / 4) px;
  }
}

.-Bold-Text-Style {
  font-family: Lato;
  font-size: 15px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.33;
  letter-spacing: -0.4px;
  text-align: left;
  color: #2a1e3e;

  @media (max-width: 767px) {
    letter-spacing: calc(-0.4 * 4 / 3) px;
    font-size: calc(15 * 3 / 4) px;
  }
}

.-Text-Style {
  font-family: Lato;
  font-size: 15px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.33;
  letter-spacing: -0.4px;
  text-align: left;
  color: #9baabf;

  @media (max-width: 767px) {
    letter-spacing: calc(-0.4 * 4 / 3) px;
    font-size: calc(15 * 3 / 4) px;
  }
}

.-HEADER-Style {
  font-family: Roboto Mono;
  font-size: 12px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: -0.5px;
  text-align: left;
  color: #2a1e3e;

  @media (max-width: 767px) {
    letter-spacing: calc(-0.5 * 4 / 3) px;
    font-size: calc(12 * 3 / 4) px;
  }
}

.-Button-Style {
  font-family: Roboto Mono;
  font-size: 16px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: left;
  color: #2a1e3e;

  @media (max-width: 767px) {
    font-size: calc(16 * 3 / 4) px;
  }
}
