.-Headline-Big-Style {
  font-family: Lato;
  font-size: 40px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: -1px;
  text-align: left;
  color: #2a1e3e;
}

.-Subline-Big-Style {
  font-family: Lato;
  font-size: 30px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: -0.7px;
  text-align: left;
  color: #9baabf;
}

.-Headline-Medium-Style {
  font-family: Lato;
  font-size: 30px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: -0.7px;
  text-align: left;
  color: #2a1e3e;
}

.-Subline-Medium-Style {
  font-family: Lato;
  font-size: 22.5px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: -0.5px;
  text-align: left;
  color: #9baabf;
}

.-Headline-Small-Style {
  font-family: Lato;
  font-size: 20px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: -0.5px;
  text-align: left;
  color: #2a1e3e;
}

.-Bold-Text-Style {
  font-family: Lato;
  font-size: 15px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.33;
  letter-spacing: -0.4px;
  text-align: left;
  color: #2a1e3e;
}

.-Text-Style {
  font-family: Lato;
  font-size: 15px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.33;
  letter-spacing: -0.4px;
  text-align: left;
  color: #9baabf;
}

.-HEADER-Style {
  font-family: RobotoMono;
  font-size: 12px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: -0.5px;
  text-align: left;
  color: #2a1e3e;
}

.-Button-Style {
  font-family: RobotoMono;
  font-size: 16px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: left;
  color: #2a1e3e;
}
