// colors
$base-color: #242442;
$background-color: #F2F2F8;
$primary-color: #32AD6C;
$logo-color: #24AE69;
$text-color: #6A7C94;
$text-link-color: #B1BBC7;
$text-link-color-hover: $text-color;
$text-link-color-active: $logo-color;
$upvote-background-color: #EBEBF4;
$upvote-text-color: #737C94;
$card-tokens-background-color: #9BAABF;
// fonts
$primary-font: 'Montserrat', sans-serif;

// breakpoints
$tablet-width: 768px;
$desktop-width: 1024px;
